@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Press Start 2P', cursive, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.three-container {
  background-image: url("./assets/bg.gif");
  background-size: contain;      /* Makes image cover full container */
  background-position: center;   /* Centers the image */
  background-repeat: no-repeat;  /* Prevents tiling */
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
}

canvas {
  background: transparent;
}

.content {
  position: relative;
  z-index: 10;
  text-align: center;
  color: white;
  padding: 4rem 2rem;
  pointer-events: none;
}

.title {
  font-size: 4rem;
  text-shadow: 2px 2px 0 #000000; /* contorno negro estilo Game Boy */
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 1rem;
  text-shadow: 2px 2px 0 #000000; /* contorno negro estilo Game Boy */
}

.btn-meme {
  align-self: center;
  text-align: center;
  max-width: 200px;
  margin-top: 2rem;
  font-size: 1.25rem;
  background-color: #ff69b4;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 9999px;
  cursor: pointer;
  box-shadow: 0 0 20px #ff69b4;
  transition: transform 0.2s ease;
  text-shadow: 2px 2px 0 #000000; /* contorno negro estilo Game Boy */
}

.btn-meme:hover {
  transform: scale(1.05);
}
